<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Borrar Usuarios</h1>
    <form action="/concerts/delete-concerts/<%= concerts[0]['id'] %>" method="POST">
       <h2>Are you sure you want to delete <%= concerts[0]['concertName'] %>?</h2>
       <a id='btn-update' href="/concerts/all-concerts">Cancelar</a>
        <input id='btn-delete' type="submit" value="Yes, delete">
    </form>
</body>
</html>