<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
 

  <title>Document</title>

</head>

<body>
  <nav>
    <div class="mobile">
      <div class="header">
        <div class="logo"><img class="logo" src="../images/logo.png"> </div>
        <div class="more"><button id="bMore"><span class="material-icons">menu</span></button></div>
      </div>
      <div id="links" class="active">
        <a href="/">Home</a>
        <a href="#">Documentation</a>
        <a href="#">All users</a>
        <a href="/users/all-users">Create users</a>
        <a href="#">All concerts</a>
        <a href="#">Create concert</a>
        <a href="#">All tickets</a>
        <a href="#">Create ticket</a>
        <a href="#">All reservations</a>
        <a href="#">Create reservation</a>
      </div>





    </div>

    <div class="desktop">
      <div class="logo"><img class="logo" src="./images/logo.png"></div>
      <div class="primary">
        <a href="/">Home</a>
        <a href="#">Documentation</a>
        <a href="/users/all-users">All users</a>
      </div>

      <div class="secondary full">
        <a href="#">Serch</a>
        <a href="#">Sign up</a>
        <a href="#">Login</a>
      </div>

      <div class="secondary mini">
        <a href="#">More</a>
        <div class="submenu">
          <a href="#">Serch</a>
          <a href="#">Sign up</a>
          <a href="#">Login</a>
        </div>
      </div>
    </div>
  </nav class ="vertical">

  <aside>
    <header>
      <div class="bar"></div>
      <div class="user">
        <img src="./images/roboApi.jpeg" alt="logo">
        <div class="name">Continuum Api</div>
      </div>
    </header>
    <div class="linksVer">
      <a href="#">
        <div class="icon"><iconify-icon icon="flat-color-icons:businesswoman"width="48" height="48"></iconify-icon></div>
        <div class="title">Users</div>
      </a>
     
      <a href="#">
        <div class="icon"><iconify-icon icon="flat-color-icons:music" width="48" height="48"
       
        ></iconify-icon></div>
        <div class="title">Concerts</div>
      </a>
     
      <a href="#">
        <div class="icon"><iconify-icon icon="flat-color-icons:document"width="48" height="48"></iconify-icon></div>
        <div class="title">Tickets</div>
      </a>
    
      <a href="#">
        <div class="icon"><iconify-icon icon="flat-color-icons:filing-cabinet"width="48" height="48"></iconify-icon></div>
        <div class="title">Api documentation</div>
      </a>
      <a href="#">
        <div class="icon"><iconify-icon icon="flat-color-icons:settings"width="48" height="48"></iconify-icon></div>
        <div class="title">Get your Api Key</div>
      </a>

    </div>
  </aside>





  <script src="js/index.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
</body>

</html>