.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .active{
    display : none;
  }




table{
 margin : 0 auto;
 margin-top: 50px;
 color: #fff;
}
td{ 
    padding: 15px;
    border-bottom : 1px solid #ddd;
    text-align: left;

}
form{
    margin: 10 auto;
    margin-top: 50px;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
  
    align-items: left;
    
}



#btn-update{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-decoration: none;
}

#btn-update:hover {
    background-color: #45a049;
}

#btn-delete{
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-decoration: none;
}

#btn-delete:hover {
    background-color: #da190b;
}
body{
    background-color: #272938;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
   
}

nav{
    background-color: #0f0f0f;
    
    color: #fff;
    width: 100%;
    margin: 0;
}

nav .mobile{
    display: none;
}
nav .mobile .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-top: 10px;

}
nav .mobile .header .more button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;

}


img.logo{
    
    width: 80px;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 20px 25px;
    font-size: 20px;
    display: block;
    margin: 0;
}

nav a:hover{
    background-color: #be62dd;
    color: black;
}
nav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .desktop .primary,
nav .desktop .secondary{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .desktop .secondary.mini {
    display: none;
}


@media screen and (max-width:853px){
    nav .secondary.full{
        display: none;
    }
    nav .secondary.mini{
        display: block !important;
    } 
   
}

nav .secondary.mini .submenu{
    position: absolute;
    display:none;
    width: 200px;
    right: 0;

}
nav .secondary.mini:hover .submenu{
    display: block;
    background-color: #be62dd;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: -10px;
}
@media screen and (max-width:640px){
     nav .desktop{
        display: none;
    }
    
     nav .mobile{
        display: block;
    }
}   
   
/* Menu vertcal */

aside{
    background-color: #0f0f0f;
    position :absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width:68px;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
    left: 0;
 
    padding-left: 0;
    padding-top: 70px;
    

}

aside a{
   
        color: #fff;
        text-decoration: none;
        padding: 20px 25px;
        font-size: 20px;
        display: block;
        margin: 0;
        left: 0;
    
}
aside a:hover{
    background-color: #be62dd;
    color: black;
    
}
aside:hover{
    width:300px
}
aside .user{
    color:#fff;
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
    height: 180px;
    width: 300px;
    transform: translateX(-300px);
    opacity: 0;
    transition: all 0.1s ease-in-out;

}
aside .user img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
aside:hover .user{
    transform: translateX(0px);
    opacity: 1;

}

@media screen and (max-width:640px){
    aside{
        display: none;
    }
   
   
}

aside .linksVer a {
    color: #fff;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 300px;
}
aside .linksVer a .icon{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
